
{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>Welcome to YouReview. </h1>

    {% if session['username'] %}
    <br>
    <p>Hello {{ session['username'] }}</p>
{% endif %}

</div>

<br>


<body>


    <div class="reviews-container">
        <h2>Recent Reviews</h2>
        
        {% for review in reviews %}
        <div class="review">
            <h3><a href="/{{ review['id'] }}">{{ review['reviewTitle'] }}</a>  <img src="static/images/link.png" class="link" alt="link"></h3>
            <p class="gameName">{{ review['gameName'] }}</p>
            <p class="content">{{ review['reviewText'] }}</p>
            <p class="rating">{{ review['score'] }}</p>
        </div>
        {% endfor %}

    </div>


</body>

{% endblock %}