
{% extends "base.html" %}

{% block content %}

<div class="container">

    <h2>Welcome to YouReview. </h2>

    {% if session['username'] %}
    <br>
    <p>Hello {{ session['username'] }}</p>
    <a href="/add"><button>Add Review</button></a>
{% endif %}

</div>

<br>

<table class="guess_table">

    <thead>
        <th>Review Title</th>
        <th>Game</th>
        <th>Review</th>
        <th>Score</th>
    </thead>

    <tbody>
        {% for guess in guesses %}
        <tr>
            <td>{{ guess['reviewTitle'] }}</td>
            <td>{{ guess['gameName'] }}</td>
            <td>{{ guess['reviewText'] }}</td>
            <td>{{ guess['score'] }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}