{% extends "base.html" %}

{% block content %}

<!-- Allows users to scroll for smaller screens -->


<!-- Displays the table next to the image if space is avaliable, can be scrolled for smaller screens -->
<div style="display: inline-block; max-width: 100%; overflow-x: auto;">

    <br>

</div>
<body class="single-body">
  <div class="single-review-container">
    <h1 class="single-review-container">{{ review['gameName']}}</h1>
    <h2 class="single-review-title">{{ review['reviewTitle'] }}</h2>
    <p class="single-reviewed-by">Reviewed by: <span class="username">{{ review['username'] }}</span></p>
    <p class="-single-review-date">Reviewed on: {{ review['date'] }}</p>
    <div class="single-review-content">

      <p>
        {{ review['reviewText'] }}
      </p>
    </div>
    <p class="single-signature">Score: {{ review['score']}}</p>
  </div>
</body>

{% endblock %}